# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Spring Boot
target/
!target/*.jar
!.mvn/wrapper/maven-wrapper.jar

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Archivos de aplicación
*.war
*.ear

# Logs
logs/
*.log

# Archivos temporales
*.tmp
*.temp

# Sistema operativo
.DS_Store
Thumbs.db

# Spring Tools Suite
.sts4-cache/
.apt_generated/

# Eclipse
.classpath
.project
.settings/
bin/
tmp/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Archivos compilados
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/

# Archivos temporales
*.tmp
*.temp

# Sistema operativo
.DS_Store
Thumbs.db

# Base de datos (si usas H2 u otra embedded)
*.db
*.h2.db

# Archivos de propiedades locales
application-local.properties
application-dev.properties
.metadata/.plugins/org.eclipse.core.resources/.history/c5/7097316c6abc0010117cac7836672990
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.core.resources/.history/27/104b1aa36abc0010117cac7836672990
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
/.metadata/.plugins/org.eclipse.core.resources/.history/aa
/.metadata/.plugins/org.eclipse.core.resources/.history/2b
/.metadata/.plugins/org.eclipse.core.resources/.history/bc
/.metadata/.plugins/org.eclipse.core.resources/.history/c
/.metadata/.plugins/org.eclipse.core.resources/.history/c0
/.metadata/.plugins/org.eclipse.core.resources/.history/c9
/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp
/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
*.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/authorization-server
/.metadata/.plugins/org.eclipse.core.resources/.projects/authorization-server
/.metadata/.plugins/org.eclipse.core.resources/.projects/commons
/.metadata/.plugins/org.eclipse.core.resources/.projects/commons
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/authorization-server/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/authorization-server/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/commons/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/commons/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/eureka-server/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/eureka-server/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/gateway/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/gateway/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/gateway/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/msv-habitaciones/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/msv-habitaciones/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/msv-habitaciones/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/msv-habitaciones/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/msv-huespedes/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/msv-huespedes/.syncinfo.snap
.metadata/.plugins/org.eclipse.swt/EBWebView/Variations
.metadata/.plugins/org.eclipse.swt/EBWebView/ShaderCache/index
.metadata/.plugins/org.eclipse.swt/EBWebView/ShaderCache/data_3
.metadata/.plugins/org.eclipse.swt/EBWebView/ShaderCache/data_2
.metadata/.plugins/org.eclipse.swt/EBWebView/ShaderCache/data_1
.metadata/.plugins/org.eclipse.swt/EBWebView/ShaderCache/data_0
.metadata/.plugins/org.eclipse.swt/EBWebView/RevisitationBloomfilter
.metadata/.plugins/org.eclipse.swt/EBWebView/lockfile
.metadata/.plugins/org.eclipse.swt/EBWebView/Local State
.metadata/.plugins/org.eclipse.swt/EBWebView/GrShaderCache/index
.metadata/.plugins/org.eclipse.swt/EBWebView/GrShaderCache/data_3
.metadata/.plugins/org.eclipse.swt/EBWebView/GrShaderCache/data_2
.metadata/.plugins/org.eclipse.swt/EBWebView/GrShaderCache/data_1
.metadata/.plugins/org.eclipse.swt/EBWebView/GrShaderCache/data_0
.metadata/.plugins/org.eclipse.swt/EBWebView/GraphiteDawnCache/index
.metadata/.plugins/org.eclipse.swt/EBWebView/GraphiteDawnCache/data_3
.metadata/.plugins/org.eclipse.swt/EBWebView/GraphiteDawnCache/data_2
.metadata/.plugins/org.eclipse.swt/EBWebView/GraphiteDawnCache/data_1
.metadata/.plugins/org.eclipse.swt/EBWebView/GraphiteDawnCache/data_0
.metadata/.plugins/org.eclipse.swt/EBWebView/EBWebViewMetrics/EBWebViewMetrics-690EC102-5580.pma
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Sync Data/LevelDB/LOG.old
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Sync Data/LevelDB/LOG
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Site Characteristics Database/MANIFEST-000001
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Site Characteristics Database/lost/MANIFEST-000001
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Site Characteristics Database/LOG.old
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Site Characteristics Database/LOG
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Site Characteristics Database/CURRENT
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Site Characteristics Database/000004.ldb
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/shared_proto_db/metadata/LOG.old
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/shared_proto_db/metadata/LOG
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Session Storage/LOG.old
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Session Storage/LOG
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Session Storage/CURRENT
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Safe Browsing Network/Safe Browsing Cookies
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Preferences
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/optimization_guide_hint_cache_store/LOG.old
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/optimization_guide_hint_cache_store/LOG
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/optimization_guide_hint_cache_store/LOCK
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Network/TransportSecurity
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Network/Cookies
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/LOG.old
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/LOG
.metadata/.plugins/org.eclipse.swt/EBWebView/Default/LOCK
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
*.snap
/.metadata
/.metadata
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/msv-huespedes/.indexes/history.index
.metadata/.plugins/org.eclipse.jdt.core/1446723968.index
.metadata/.plugins/org.eclipse.jdt.core/1865786562.index
.metadata/.plugins/org.eclipse.m2e.jdt/msv-reservaciones.container
